
body {margin: 0; padding: 0;}
.header, .footer { background: #D5BAE4; }
h1{ margin: 0;}
.layout { overflow: hidden; height: 100%}
.col1 { background: #dcecd9; width: 200px; float: left; }
.col2 { background: #e9ffe0; margin: 0 20% 0 200px;}
.col3 { background: #E3FFBE; width: 20%; float: right;}

.tabs{
    display:inline-block;
}
.tabs > div{
    padding-top:10px;
}
.tabs ul{
    margin:0px;
    padding:0px;
}
.tabs ul:after{
    content:"";
    display:block;
    clear:both;
    height:5px;
    /*background:#46c765;*/
}
.tabs ul li{
    margin:0px;
    padding:0px;
    cursor:pointer;
    display:block;
    /*float:left;*/
    padding:10px 15px;
    background:#e9eaeb;
    color:#707070;
}
.tabs ul li.active, .tabs ul li.active:hover{
    background:#46c765;
    color:#fff;
}
.tabs ul li:hover{
    background:#d6d6d7;
}